html {
    font-family: 'Inconsolata', monospace;    
}

body {
    height: 100vh;
    min-height: 100vh;
}

main {
    padding: 3%;
}

i {
    padding: 10px;
}


#nav_company_name {
    padding-left: 10px;
}

#nav_register {
    margin: 0px auto 0px auto;
    color: white;
}