.form-signup {
    min-width: 50%;
    width: 50%;
}

.form-signin {
    min-width: 50%;
    width: 50%;
}

.form-label-group {
    text-align: left;
    margin-bottom: 3%;
}

.loggedin {
    min-width: 50%;
    width: 50%;
}